.pging{margin-top: 10px;height: 20px}
.mht{min-height: 100px}
.imgmargin{margin: 10px;height: 100px;width: 100px;}
.trackingtitle{background: #E9F1F2 !important;padding: 0 0 0 11px !important;cursor: default !important;}
.mtraffic {margin-top: 5px;}
.feildselect {float: left;font-size: 12px;text-align: left;color: rgb(86, 92, 97);margin: 0px 5px 25px;}
.fmrselect{width: 101px !important;padding-left: 5px !important}
.trackingresultli{text-align: right;border-top: 2px solid #F4F4F4;margin-top: 10px;}
.downloadtracking{text-align: right;padding-right: 30px;}
.searchfmr{width: 680px;margin-top: 13px}
.brdcontdiv{margin: 0 0 5px}
.crsdefault{cursor: default}
.width550{width: 550px}
.textalignleft{text-align: left;}
.textaligncenter{text-align: center}